{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "#core": "./src/core",
          "#helper": "./src/helper",
          "#routes": "./src/routes",
          "#middleware": "./src/middleware",
          "#models": "./src/models",
          "#services": "./src/services",
          "#test": "./tests"
        }
      }
    ]
  ]
}
